* {
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  color: whitesmoke;
  background-image: linear-gradient(
      rgba(70, 52, 21, 0.8),
      rgba(209, 156, 23, 0.769)
    ),
    url(https://i.pinimg.com/originals/d8/23/2e/d8232e70da84a20090d0e3b71eff4a0e.jpg);
}

.header {
  padding: 0 0.625rem;
  margin-bottom: 1.875rem;
}

h1,
p {
  text-align: center;
}

h1 {
  font-weight: 700;
  line-height: 1.2;
}

h1,
p {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

#description {
  font-style: italic;
  font-weight: 200;
  text-shadow: 1px 1px 1px rgb(0 0 0 / 40%);
}

form {
  background: rgba(44, 35, 25, 0.763);
  padding: 2.5rem 0.625rem;
  border-radius: 0.25rem;
  display: block;
  margin-top: 0em;
}

@media (min-width: 480px) {
  form {
    padding: 2.5rem;
  }
}

.form-group {
  margin: 0 auto 1.25rem auto;
  padding: 0.25rem;
}

label {
  display: flex;
  align-items: center;
  font-size: 1.125rem;
  margin-bottom: 0.5rem;
}

input,
button,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

option {
  font-weight: normal;
  display: block;
  white-space: nowrap;
  min-height: 1.2em;
  padding: 0px 2px 1px;
}

.form-control {
  display: block;
  width: 94%;
  height: 2rem;
  padding: 0.375rem 0.75rem;
  color: #495057;
  background-color: rgba(250, 235, 215, 0.911);
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.clue {
  margin-left: 0.25rem;
  font-size: 0.9rem;
  color: #e4e4e4;
}

.input-radio,
.input-checkbox {
  display: inline-block;
  margin-right: 0.625rem;
  min-height: 1.25rem;
  min-width: 1.25rem;
  accent-color: rgb(248, 97, 80);
}

input[type="radio" i] {
  background-color: initial;
  cursor: default;
  appearance: auto;
  box-sizing: border-box;
  margin: 3px 3px 0px 5px;
  padding: initial;
  border: initial;
}

#comments {
  min-height: 120px;
  width: 95%;
  padding: 0.625rem;
  resize: vertical;
    background-color: rgba(250, 235, 215, 0.911);
}

.submit-button {
  display: block;
  width: 98%;
  padding: 0.75rem;
  background: rgba(248, 97, 80, 0.644);
  color: inherit;
  border-radius: 2px;
  cursor: pointer;
  font-weight: 600;
}

button:hover,
button:active {
  background-color: rgba(250, 231, 64, 0.281);
  background-position: 0 0;
  color: rgb(81, 188, 5);
  border: 1px solid lightgreen;
  transform: scale(1.02);
  font-size: 17px;
  transition: 0.5s;
}

option:checked {
  color: #fff;
  background-color: rgb(248, 97, 80);
}

option {
  color: black;
  background-color: #fff;
}

select:active,
select:hover {
  outline-color: rgb(250, 162, 0);
  color: rgb(81, 188, 5);
  background-color: rgba(42, 68, 1, 0.452);
}
